body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #181818;
}

.container{
    columns: 4;
    gap: 20px;
    padding: 50px 100px;
}

.container a img{
    margin-top: 10px;
    width: 97%;
    height: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: .5s ease;
}

.container a img:hover{
    scale: 1.05;
}

.container:has(a img:hover) a img:not(:hover){
    filter: blur(10px);
}